{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120/events\",\"html_url\":\"https://github.com/mi-pyt-ghia/wekoil/issues/120\",\"id\":506311144,\"node_id\":\"MDU6SXNzdWU1MDYzMTExNDQ=\",\"number\":120,\"title\":\"Dummy\",\"user\":{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1613356062,\"node_id\":\"MDU6TGFiZWwxNjEzMzU2MDYy\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/labels/Need%20assignment\",\"name\":\"Need assignment\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false},\"assignees\":[{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false}],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-10-13T11:20:49Z\",\"updated_at\":\"2019-12-02T13:03:23Z\",\"closed_at\":null,\"author_association\":\"MEMBER\",\"body\":\"Just dummy a issue :duck:\",\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4992"], "X-RateLimit-Reset": ["1575295403"], "ETag": ["\"ac6f554b89207cf101763965e79a6d95\""], "Last-Modified": ["Mon, 02 Dec 2019 13:03:23 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120"}, "recorded_at": "2019-12-02T13:03:24"}, [...]
