{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119/events\",\"html_url\":\"https://github.com/mi-pyt-ghia/wekoil/issues/119\",\"id\":506311141,\"node_id\":\"MDU6SXNzdWU1MDYzMTExNDE=\",\"number\":119,\"title\":\"Organization is not user\",\"user\":{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-10-13T11:20:48Z\",\"updated_at\":\"2019-12-02T11:19:35Z\",\"closed_at\":null,\"author_association\":\"MEMBER\",\"body\":\"Obviously GitHub organization is not a user and cannot be assigned to any issue.\",\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4987"], "X-RateLimit-Reset": ["1575295403"], "ETag": ["\"b5d1226ef21b5b2e5250110e46e809fe\""], "Last-Modified": ["Mon, 02 Dec 2019 11:19:35 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119"}, "recorded_at": "2019-12-02T13:03:26"}, [...]
