{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/wekoil/issues"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/120/events\",\"html_url\":\"https://github.com/mi-pyt-ghia/wekoil/issues/120\",\"id\":506311144,\"node_id\":\"MDU6SXNzdWU1MDYzMTExNDQ=\",\"number\":120,\"title\":\"Dummy\",\"user\":{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1613356062,\"node_id\":\"MDU6TGFiZWwxNjEzMzU2MDYy\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/labels/Need%20assignment\",\"name\":\"Need assignment\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false},\"assignees\":[{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false}],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-10-13T11:20:49Z\",\"updated_at\":\"2019-12-02T11:21:17Z\",\"closed_at\":null,\"author_association\":\"MEMBER\",\"body\":\"Just dummy a issue :duck:\"},{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/119/events\",\"html_url\":\"https://github.com/mi-pyt[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/214806793/issues?page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/90\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/wekoil/issues/90/labels{/name}\",\"comments_url\":[...]
[...]
