{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"login\":\"wekoil\",\"id\":23062943,\"node_id\":\"MDQ6VXNlcjIzMDYyOTQz\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/23062943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/wekoil\",\"html_url\":\"https://github.com/wekoil\",\"followers_url\":\"https://api.github.com/users/wekoil/followers\",\"following_url\":\"https://api.github.com/users/wekoil/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wekoil/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wekoil/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wekoil/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wekoil/orgs\",\"repos_url\":\"https://api.github.com/users/wekoil/repos\",\"events_url\":\"https://api.github.com/users/wekoil/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wekoil/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":null,\"company\":null,\"blog\":\"\",\"location\":null,\"email\":null,\"hireable\":null,\"bio\":null,\"public_repos\":0,\"public_gists\":0,\"followers\":0,\"following\":0,\"created_at\":\"2016-10-25T20:06:49Z\",\"updated_at\":\"2019-11-08T17:32:28Z\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4999"], "X-RateLimit-Reset": ["1575294962"], "ETag": ["\"3512441faeb18a23536db092fd9106f9\""], "Last-Modified": ["Fri, 08 Nov 2019 17:32:28 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/user"}, "recorded_at": "2019-12-02T12:56:02"}], "recorded_with": "betamax/0.8.1"}