<!doctype html>
<html>
    <head>
        <title>GHIA Rules</title>
    </head>
    <body>
        {% if rules %}
            <h1>Rules:</h1>
            <ul>
                {% for user in rules %}
                <li>
                    {{ user }}    
                    <ul>
                        {% set list1 = rules[user].split() %}
                        {% for rule in list1 %}
                        <li>{{ rule }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1><strong>WARNING</strong>: No rules from conf file!</h1>
        {% endif %}
        

        {% if fallback %}
            <h2>Fallback:</h2>
            <ul>
                {% for rule in fallback %}
                <li>{{ rule }}={{ fallback[rule] }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if name %}
            <h3>Recognised user by token: {{ name }}</h3>
        {% else %}
            <h1><strong>WARNING</strong>: User not recognised or invalid token!</h1>
        {% endif %}
    </body>
</html>
